<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">Where you can jot down your personal notes for future use.</p>
        <a href="/ideas/add" class="btn btn-primary">Add Note</a>
    </div>
</div>